body {
    background-color: #321a4a;
}

.navigation ul{
    list-style-type: none;
    padding-top: 50px;
    margin-bottom: 90px;
}

li{
    display: inline;
    font-size: 36px;
    margin-left: 240px;
}

li #icon{
    padding-left: 250px;
}

a{
    color: white;
    text-decoration: none;
}

.whiteboard{
    width: 1850px;
    height: 1150px;
    border: 1px solid white;
    border-radius: 60px;
}

.kontaktdan p{
    font-size: 36px;
    text-align: center;
    color: white;
}

.pinkblock{
    width: 1500px;
    background-color: #FDA6D7;
    margin-left: 175px;
    border-radius: 60px;
}

.information img{
    margin-top: 50px;
    margin-left: 250px;
}

.wrapper {
  display: flex;
}

.text{
    margin-left: 250px;
    font-size: 24px;
}

.text2{
    margin-left: 470px;
    font-size: 24px;
    width: 300px;
}

.sent p{
    margin-left: 570px;
    font-size: 36px;
}

.sent img{
    margin-left: 300px;
    margin-bottom: 50px;
}
